{% extends "layout.html" %}
{% block title %}
{{comNam}}
{% endblock %}

{% block content %}
<h3>Comic you are looking for..</h3>
<p>Comic Name: <div>{{comNam}}</div></p>
<p>Comic Description: <div>{{comDesc}}</div></p>
<p>Cartoonist: <div>{{carNam}}</div></p>
<p>Cartoonist Birthday: <div>{{carBir}}</div></p>
<p>Gender: <div>{{carSex}}</div></p>
<p>Cartoonist Description: <div>{{carDesc}}</div></p>
<p>Magazine Name: <div>{{magNam}}</div></p>
<p>Magazine Language: <div>{{magLang}}</div></p>
<p>Magazine Description: <div>{{magDesc}}</div></p>

{% endblock %}

