{% extends "layout.html" %}
{% block title %}
Comic you are looking for...
{% endblock %}

{% block content %}
<h2>Comic you are looking for..</h2>
<p>Comic Name: <div>{{comNam}}</div></p>
<p>Comic Desc: <div>{{comDesc}}</div></p>
<p>Cartoonist ID: <div>{{cartID}}</div></p>
<p>Comic ISSN: <div>{{comIss}}</div></p>
<!-- <p>Total seasons: <div>{{aniSeason}}</div></p>
<p>Total episodes: <div>{{aniEpi}}</div></p>
<p>Production Company: <div>{{aniComp}}</div></p>
<p>Comic id: <div>{{cid}}</div></p> -->

{% endblock %}
