{% extends "layout.html" %}
{% block title %}
Lists of Cartoonists
{% endblock %}
{% block content %}

<!-- we don't need the list anymore so -->
<!-- <div>{{data}}</div>

<div>
  {% for n in data %}
  <div>{{n}}</div>
  {% endfor %}
</div> -->

<p><a href="/search">Search</a></p>
<p><a href="/compsearch">Search By Company</a></p>
<p><a href="/comisearch">Search By Comics</a></p>-->
<!--<p><a href="/cartsearch">Search By Cartoonist</a></p>-->

<p><a href="/another">Lists of all Cartoonists</a></p>
<p><a href="/companyindex">Lists of all Companies</a></p>
<form method="POST" action="/add">
<p>Name of new cartoonist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>


{% endblock %}

<!-- <html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  
<p><a href="/another">Lists of all Cartoonists</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html> -->

